#header-container {
	height: 90px;
	background: #ffffff;
	border-bottom-style: solid;
	border-bottom--width: 2px;
	border-color: #cccccc;
	overflow: auto;

}

header{

	background: #4aaaa5;
	color: #ffffff;
	
	margin-left: 160px;
	padding: 10px;	
	float: left;	
}

header h1{
	margin-left: 36px;
	margin-right: 36px;
}

nav{
	margin: 29px;
	margin-right: 160px;
	float:right;
	
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

body{
	background-image: url("../images/asanoha-400px.png");

}

nav a,  p, label, .text-input, textarea, .submit-button {
	color: #777777;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin:0px;
}

nav p{

	vertical-align: middle;
}

p{
	line-height: 2;
}

.sub-header{
	color: #4aaaa5;
}

#self-image{
	margin: 20px 20px 20px 0px;
	float:left;
}

#mid-container{

	
	overflow: auto;
	width: 960px;
	margin: 40px 160px;
}
section{
	background: #ffffff;
	border: solid;
	border-color: #dddddd;
	border-width: thin;
	width: 588px;
	float: left;
	padding: 30px;

}

section hr{
	height: 3px;
	background-color: #dddddd;
	border: none;
}


/*Contact*/
form{
	margin-top: 27px;
}

.text-input{
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	padding: 10px;
	font-size: 14px;
	width: 566px;
	color: darkgray;
	margin: 10px 0px 20px 0px;
}

textarea{
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	padding: 10px;
	font-size: 12px;
	width: 566px;
	height: 178px;
	color: darkgray;
	margin: 10px 0px 20px 0px;
}

.submit-button{
	height: 40px;
	width: 120px;
	border: none;
	background: #4aaaa5;
	color: #ffffff;
	font-size: 16px;

}

aside{
	width: 208px;
	background: #ffffff;
	border:solid;
	border-color: #dddddd;
	border-width: thin;
	float: right;
	padding: 30px;

}

aside a{
	float:left;
	width:33.3%;
}

aside hr{
	height: 2px;
	background-color: #dddddd;
	border: none;
}

footer{
	background: #666666;
	color: #ffffff;
	font-size: 12px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; ;
	text-align: center;
	border-top-style: solid;
	border-color: #4aaaa5;
	border-top-width: 8px;
	padding: 50px;
	clear:both;
	
}